/*=============================================
=            light color variables            =
=============================================*/

$background-light: #fff;
$card-background-light: #bdbdbd80;
$text-primary-light: #000000;
$text-secondary-light: #2d2d2d;
$accent-light: #bdbdbd;

/*=====  End of light color variables  ======*/

/*=============================================
=            dark color variables            =
=============================================*/

$background-dark: #111111;
$card-background-dark: #2d2d2d;
$text-primary-dark: #fff;
$text-secondary-dark: #efefef;
$accent-dark: #4a4a4a;

/*=====  End of dark color variables  ======*/

/*=============================================
=            viewport breakpoints            =
=============================================*/

$large: 1024px;
$medium: 767px;
$small: 480px;

/*=====  End of viewport breakpoints  ======*/ //TODO: redo breakpoints
