// ! Not able to use Sass variables in :root
// ? Why?

@use "../base/typography" as *;
@use "../abstracts/variables" as *;

body {
	font-family: $titilium;
}
/*=============================================
=            Theming            =
=============================================*/

@media (prefers-color-scheme: light) {
	:root {
		--text-primary: var(--text-primary-light);
		--text-secondary: var(--text-secondary-light);
		--card-bg: var(--card-background-light);
		--bg-color: var(--background-light);
		--accent: var(--accent-light);
		color: var(--text-primary);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-primary: var(--text-primary-dark);
		--text-secondary: var(--text-secondary-dark);
		--card-bg: var(--card-background-dark);
		--bg-color: var(--background-dark);
		--accent: var(--accent-dark);
		color: var(--text-primary);
	}
}

/*=====  End of Theming  ======*/

.container {
	position: relative;
	margin: 0 auto;
	padding: 5rem 0;
	clear: both;
	width: calc(100% - 1rem);
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
	text-transform: lowercase;
}
